body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 40px;
    color: #f5a623;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #999;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #000;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

a {
    color: #1199c3;
    text-decoration: none;
    /*margin-top: 10px;*/
    display: block;
}

ul {
    list-style-type: none;
}

img {
    padding: 10px;
}

/************* HEADER *************/
#header {
    background-color: #4a4a4a;;
    text-align: center;
    width: 100%; /* mobile-first */
}

#name {
    color: #f5ae23;
}

#role {
    color: white;
}

/* flex container */
.header-entry {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}

/* flex item */
.pic-wrapper {
    width: 100%; /* mobile-first */
    border: 1px solid white;
    text-align: center;
}

/* flex item */
.summary-wrapper {
    width: 100%; /* mobile-first */
    border: 1px solid white;
}

img.biopic {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.welcome-message {
    color: #f3f3f3;
    font-style: italic;
    font-size: 20px;
    line-height: 28px;
}

.summary-entry {
    color: lime;
}

/************* SKILLS *************/

.svg-wrapper {
    width: 100%;
    background: gray;
}

svg {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    /*border: 5px solid blue;*/
}

/************* GENERAL *************/

.work-entry, .project-entry, .school-entry, .onlineCourse-entry {
  padding: 0 5%;
}

.date-text, .location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
}

/* 
An element that has the clear property set on it will not move up adjacent to the float like the float desires, but will move itself down past the float.
*/
.clear-float {
    clear: both;
}

/************* MEDIA QUERIES *************/

@media only screen and (min-width: 768px) {
  .location-text {
    float: right;
  }
  .date-text {
    float: left;
  }
}



/*
.orange {
  background-color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* Media queries to handle various device widths */

/*
@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  .biopic {
    display: block;
  }
}
*/