body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
    color: #f5a623;
    display: inline;
    font-family: 'Lobster', cursive;
}

h2 {
    font-size: 24px;
    color: #999;
    background-color: #f5ae23;
    padding: 20px;
    font-family: 'Lobster', cursive;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin-left: 20px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
}

p {
    color: #333;
    line-height: 1.5;
}

a {
    color: #1199c3;
    text-decoration: none;
    /*margin-top: 10px;*/
    display: block;
}

ul {
    list-style-type: none;
}

img {
    margin: 10px 10px 0 0;
}


/************* HEADER *************/

#header {
    background: #4a4a4a;
    text-align: center;
    width: 100%;
    /* mobile-first */
    padding: 20px 0;
}

hr {
  margin: 20px;
  border: 0; 
  height: 1px; 
  /* Chrome, Safari */
  background: -webkit-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
  /* Firefox */
  background: -moz-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
}

#name {
    color: #f5ae23;
}

#role {
    display: block;
    /* mobile-first */
    color: black;
    font-weight: 100;
}


/* flex container */

.header-entry {
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid white;*/
}


/* flex item */

.pic-wrapper {
    width: 100%;
    /* mobile-first */
    /*border: 1px solid white;*/
    text-align: center;
    padding: 0;
    margin: 0;
}


/* flex item */

.summary-list {
    /*border: 1px solid white;*/
    width: 100%;
    /* mobile-first */
    /*border: 1px solid white;*/
    font-size: 14px;
    line-height: 1.5;
}

img.biopic {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 0;
}

.welcome-message {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    margin: 20px auto;
}

.summary-list li {
    color: white;
}

.summary-list li span {
    color: #f5ae23;
    font-weight: bold;
}


/************* SKILLS *************/

.svg-wrapper {
    width: 100%;
    background: gray;
}

svg {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    /*border: 5px solid blue;*/
}


/************* EDUCATION *************/

.school-entry,
.online-course-entry {
    margin-top: 10px;
}


/************* FOOTER *************/


/* social icons */

.social-icon {
    color: #f5ae23;
    vertical-align: middle;
    font-size: 30px;
    width: 50px;
}

#footer>div:nth-child(2) {
    margin-top: 20px;
}

#footer>div:nth-child(4) {
    margin-bottom: 20px;
}

.footer-copyright-wrapper {
    background: #4a4a4a;
    text-align: center;
}

.copyright-text {
    color: #999;
    padding: 20px;
}


/************* GENERAL *************/

.work-entry,
.project-entry,
.school-entry,
.online-course-entry,
.footer-copyright-wrapper,
.footer-social-wrapper {
    padding: 0 20px;
}

#workExperience>div,
#projects>div,
#education>div {
    margin-top: 20px;
}

#workExperience>div:last-child,
#projects>div:last-child,
#education>div:last-child {
    margin-bottom: 20px;
}

.date-text,
.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
}


/* 
An element that has the clear property set on it will not move up adjacent to the float like the float desires, but will move itself down past the float.
*/

.clear-float {
    clear: both;
}


/************* MEDIA QUERIES *************/

@media only screen and (min-width: 768px) {
    .location-text {
        float: right;
    }
    .date-text {
        float: left;
    }
}


/*
.orange {
  background-color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* Media queries to handle various device widths */


/*
@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  .biopic {
    display: block;
  }
}
*/