body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h1 {
    font-size: 40px;
    color: #f5a623;
    display: inline;
    font-family: 'Lobster', cursive;
}

h2 {
    font-size: 23px;
    color: #333;
    background-color: #f5ae23;
    padding: 20px;
    font-family: 'Lobster', cursive;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin-left: 20px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
}

p {
    color: #333;
    line-height: 1.5;
}

a {
    color: #1199c3;
    text-decoration: underline;
    /*margin-top: 10px;*/
    display: block;
    cursor: pointer;
    font-weight: bold;
    color: #333;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    margin: 10px 10px 0 0;
}

/************* HEADER *************/

#header {
    text-align: center;
    width: 100%; /* mobile-first */
}

#name {
    color: #f5ae23;
}

#role {
    display: block;
    color: white;
    font-weight: 100;
}

.header-entry-1 {
    padding: 20px;
    background: #4a4a4a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border-bottom: 2px solid #f5ae23;
}

/* flex container */
.header-entry-2 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    /* Align items vertically and horizontally */
    align-items: center;
    justify-content: center;
    background: gray;
}

/* flex item */
.pic-wrapper {
    width: 100%; /* mobile-first */
    /*border: 1px solid white;*/
    padding: 0;
    margin: 0;
}

/* flex item */
.welcome-message {
    width: 100%; /* mobile-first */
    /*border: 1px solid white;*/
}

/* flex item */
.summary-list {
    /*border: 1px solid white;*/
    width: 100%; /* mobile-first */
    /*border: 1px solid white;*/
    font-size: 14px;
    line-height: 1.5;
    /*border: 1px solid white;*/
}

/* flex item */
.button-wrapper {
    width: 100%;   
    /*border: 1px solid white;*/
}

img.biopic {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 0;
    border: 2px solid #f5ae23;
    box-shadow: 0 1px 2px 1px #444;
}

.welcome-message {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    margin: 20px auto;
}

.summary-list li {
    color: white;
}

.summary-list li span {
    color: #f5ae23;
    font-weight: bold;
}

.button-wrapper {
    margin: 0 auto;
    margin-top: 20px;
}

/************* SKILLS *************/

/* Making Embedded Content Work In A Responsive iFrame */
.graph-wrapper {
    position: relative;
    /* The height will be 83.3333% of the width (960px x 800px) */
    padding-bottom: 83.3333%;
    height: 0;
    width: 100%;
    overflow: hidden;
}

/* Making Embedded Content Work In A Responsive iFrame */
.graph-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/************* EDUCATION *************/

.school-entry,
.online-course-entry {
    margin-top: 10px;
}

/************* MAP *************/
#map {
    display: block;
    height: 337px;
    /*border: 5px solid red;*/
}

#mapDiv {
    height: 400px;
    width: 100%;
    /*border: 5px solid green;*/
}

/************* LET'S CONNECT *************/

/* social icons */
.social-icon {
    color: #f5ae23;
    vertical-align: middle;
    font-size: 30px;
    width: 50px;
}

#lets-connect>div:nth-child(2) {
    padding-top: 10px;
    padding-left: 20px;
}

#lets-connect>div:nth-child(3) {
    padding-left: 20px;
}

.social-row-entry {
    padding-left: 0;
    margin-left: 0;
}

#lets-connect>div:nth-child(4) {
    padding-bottom: 10px;
    padding-left: 20px;
}

/************* FOOTER *************/

footer {
    background: #4a4a4a;
    text-align: center;
    padding: 20px;
}

.copyright-text {
    color: #999;
}

footer a {
    display: inline;
    color: #999;
}

/************* GENERAL *************/

main {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.work-entry,
.project-entry,
.school-entry,
.online-course-entry {
    padding: 0 20px;
}

#workExperience>div,
#projects>div,
#education>div {
    margin-top: 20px;
}

#workExperience>div:last-child,
#projects>div:last-child,
#education>div:last-child {
    margin-bottom: 20px;
}

.date-text,
.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
}

/* 
An element that has the clear property set on it will not move up adjacent to the float like the float desires, but will move itself down past the float.
*/
.clear-float {
    clear: both;
}

/************* MEDIA QUERIES *************/

@media only screen and (min-width: 768px) {
    .location-text {
        float: right;
    }
    .date-text {
        float: left;
    }
    .pic-wrapper {
        width: 25%;
        order: 2;
    }
    .welcome-message {
        width: 100%;
        order: 1;
        margin-top: 0;
        text-align: left;
    }
    .summary-list {
        width: 75%;
        order: 3;
        text-align: left;
    }
    .button-wrapper {
        width: 100%;
        order: 4;
    }
}

@media only screen and (min-width: 960px) {
    main, .header-entry-2 {
        width: 960px;
        margin: 0 auto;
    } 
}