.node {
  cursor: pointer;
  fill: #333;
}

.node circle {
  fill: #fff;
  stroke: #f5ae23;
  stroke-width: 1.5px;
}

.node text {
  font-family: 'Lobster', cursive;
  font-size: 10px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}